* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: lightgrey;
    text-align: center;
    border: solid grey;
    border-radius: 5px;
    margin: 5px;
}


.profilepic {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.picture {
    float: left;
    width: 30%;
    border: 2px solid grey;
    border-radius: 5px;
    margin-left: -48px;
}

.content {
    float: left;
    width: 70%;
    border: 2px solid grey;
    margin-left: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    margin-left: 45px;
    margin-bottom: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
}

h2 {
    text-align: center;
}

h3 {
    margin-left: 15px;
}

.linkpics {
    margin-left: -48px;
    border: 1px solid lightgrey;
    clear: both;
}

.fbpic {
    width: 10%;
}

.twitpic {
    width: 10%;
}